@import 'tailwindcss';

html {
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

.nav-item {
    @apply px-1.5 py-0.5 bg-blue-200 rounded hover:bg-blue-300 hover:px-2.5 transition-all duration-300 ease-in-out;
}

.nav-item-active {
    @apply px-1.5 py-0.5 rounded bg-blue-300 hover:px-2.5 transition-all duration-300 ease-in-out;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}