---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<base href={import.meta.env.BASE_URL + "/"} />
		<title>About</title>
	</head>
	<body>
        <a href="">Home</a>
        <a href="about">About (you are here)</a>
        <a href="blog">Blog</a>

		<h1>ABOUT</h1>
		<h2>Hello user. This is the about page located at /about.</h2>
        <h3>To go home, remove <code>/about</code> off the end of the url
        in the address bar.</h3>
        <p>I am working through Astro's introductory tutorial.</p>
	</body>
</html>
