---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<base href={import.meta.env.BASE_URL + "/"} />
		<title>Blog</title>
	</head>
	<body>
		<a href="">Home</a>
		<a href="about">About</a>
        <a href="blog">Blog (you are here)</a>

		<h1>BLOG</h1>
		<h2>Hello user. This is the blog page located at /blog.</h2>
        <h3>To go home, remove <code>/blog</code> off the end of the url
        in the address bar.</h3>
        <p>I am working through Astro's introductory tutorial, and this is my blog page.</p>
	</body>
</html>
